@if (newTaskCreate) {
  <!-- Show new task form when newTaskCreate is true -->
  <app-new-task (finished)="handleTaskCreation()" (added)="handleNewTask($event)"/>
}

<section id="tasks">
  <header>
    <!-- Display user's name in the tasks section header -->
    <h2>{{ user.name }}'s Tasks</h2>
    <menu>
      <!-- Button to toggle task creation form -->
      <button (click)="handleTaskCreation()">Add Task</button>
    </menu>
  </header>

  <ul>
    @for (task of selectedUserTasks; track task.id) {
      <li>
        <!-- Display task and handle completion -->
        <app-task [task]="task" (complete)="handleCompletedTask($event)"></app-task>
      </li>
    }
  </ul>
</section>
