#tasks {
  padding: 1rem;
  border-radius: 8px;
  max-height: 80%; /* Bootstrap uses vh units */
  overflow: auto;
  background-color: #3a2c54;
  color: #c3b3d8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
  gap: 1rem;
}

h2 {
  margin: 0;
  font-size: 0.9rem;
  width: 60%;
  word-wrap: break-word; /* Using word-wrap for text balancing */
}

menu {
  margin: 0;
  padding: 0;
}

menu button {
  font: inherit;
  cursor: pointer;
  background-color: #9965dd;
  border-radius: 4px;
  border: none;
  padding: 0.35rem 0.8rem;
  font-size: 0.9rem;
}

menu button:hover,
menu button:active {
  background-color: #a565dd;
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /*max-height: 60vh; !* Bootstrap uses vh units *!*/
  overflow: auto;
}

/* Custom scrollbar styles */
#tasks::-webkit-scrollbar,
ul::-webkit-scrollbar {
  width: 10px;
}

#tasks::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track {
  background: #3a2c54;
}

#tasks::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb {
  background-color: #9965dd;
  border-radius: 10px;
  border: 3px solid #3a2c54;
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.25rem;
  }

  menu {
    width: auto;
  }
}
