main {
  width: 90%;
  max-width: 50rem;
  margin: 2.5rem auto;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
  color: #c3b3d8;
}

#users {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  overflow: auto;
}

#fallback {
  font-weight: bold;
  font-size: 1.15rem;
  margin: 0;
  text-align: center;
}

/* Custom scrollbar styles */
#tasks::-webkit-scrollbar,
ul::-webkit-scrollbar {
  height: 10px;
}

#tasks::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track {
  background: #3a2c54;
}

#tasks::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb {
  background-color: #9965dd;
  border-radius: 10px;
  border: 3px solid #3a2c54;
}

@media (min-width: 768px) {
  main {
    margin: 4rem auto;
    grid-template-columns: 1fr 3fr;
  }

  #users {
    flex-direction: column;
  }

  #fallback {
    font-size: 1.5rem;
    text-align: left;
  }
}
